@page "/"

@using Engine;
@using Microsoft.AspNetCore.SignalR.Client;
@using dfe.Client.Engine.Network;
@using dfe.Shared.Render;
@using dfe.Shared.Entities;
@using System.ComponentModel.DataAnnotations;

@inject IJSRuntime JsRuntime;
@inject NavigationManager NavigationManager;

<div style="display: flex; justify-content: center; align-items: center;">
    <div id="game_view_container">
        <div>
            <canvas tabindex="0" id="game_canvas" width="800" height="600"
                    @ref="render_canvas"
                    @onkeydown="handleKbInput"
                    @onkeyup="handleKbInput"
                    @onpointerdown="handlePointerDown"
                    @onmousemove="handleMouseInput">
            </canvas>
        </div>
        <div hidden="@b_is_game_started">
            <div class="centered" style="width: 100%; height: 100%; background-color: gray; opacity: 0.5;">
            </div>
            <div class="centered">
                <button @onclick="showGame">Start Game</button>
            </div>
        </div>
    </div>

    <div id="player_list_container" style="width: 20%; max-height: 100%; margin-left: 10px; overflow: hidden; overflow-y: auto;">
        <span>@player_num Other Player(s) Online</span>
        <hr />
        <ul id="player_list" style="list-style-type: none;">
            @foreach (KeyValuePair<Guid, Player> player in GameClient.game_state.local_players)
            {
                <li>@player.Value.player_name</li>
            }
        </ul>
    </div>
</div>

<div id="chat_container">

    <hr />

    <div>
        <label>
            Player Name:
            <input @bind="player_name" />
        </label>
    </div>
    <hr />

    <div id="chat-messages-container" style="resize: both; width: 100%; height: 200px; overflow: auto; overflow-y: auto; display: flex; flex-direction: column-reverse;">
        <ul style="list-style-type: none;">
            @foreach (var message in messages)
            {
                <li>@message</li>
            }
        </ul>
    </div>
    <div>
        <label>
            Message:
            <input @bind="chat_input" @onkeyup="chatKeyUp" size="50" />
        </label>
    </div>
    <button @onclick="sendMsg" disabled="@(!isConnected)">Send</button>

</div>

<div id="audio-elements">
    <input type="checkbox" @onchange="muteClicked" checked /> <label>Mute</label>
    @* For organization purposes, this will contain the audio elements until we have a better audio system in place. *@
</div>

@code {

    // TODO: Need to store a cookie on client machine to save options state (name, mute, etc,)

    protected ElementReference render_canvas;

    private bool b_is_audio_muted = true;

    public bool isConnected = true;

    Action<KeyboardEventArgs> handleKbInput;
    Action<MouseEventArgs> handleMouseInput;

    private static GameClient game_client;

    private List<string> messages = new List<string>();
    private int p_num = 0;
    public int player_num
    {
        get { return GameClient.game_state.local_players.Count;  }
        set { }
    }

    private string p_name = "Test Player";
    public string player_name
    {
        get { return p_name; }
        set
        {
            if (value == "" || value == null)
            {
                p_name = "poo-poo head";
            }
            else
            {
                p_name = value;
            }
            GameClient.game_state.player.player_name = p_name;
            PlayerClient.player_client.player_hub_conn.SendAsync("updatePlayerData", GameClient.game_state.player);
        }
    }

    private string chat_message;
    public string chat_input
    {
        get { return chat_message; }
        set {
            chat_message = value;
        }
    }

    private bool b_is_game_started = false;

    protected override async Task OnInitializedAsync()
    {


        Uri player_hub_uri = NavigationManager.ToAbsoluteUri("/playerhub");
        Uri map_hub_uri = NavigationManager.ToAbsoluteUri("/maphub");
        Uri chat_hub_uri = NavigationManager.ToAbsoluteUri("/chathub");

        game_client = new GameClient(player_hub_uri, map_hub_uri, chat_hub_uri);
        game_client.JsRuntime = JsRuntime;
        GameClient.game_state.player.player_name = p_name;


        game_client.OnPlayersUpdated += StateHasChanged;

        game_client.chat_client.onChatUpdated += refreshMessages;

        this.handleKbInput = game_client.handleKeyboardInput;
        this.handleMouseInput = game_client.handleMouseInput;
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool first_render)
    {
        if (first_render)
        {
            await JsRuntime.InvokeAsync<object>("initGame", DotNetObjectReference.Create(this));
        }

    }

    private async void muteClicked(ChangeEventArgs event_args)
    {
        b_is_audio_muted = bool.Parse(event_args.Value.ToString());
        await JsRuntime.InvokeVoidAsync("setAllAudioMute", b_is_audio_muted);
    }

    private async void showGame()
    {
        this.b_is_game_started = true;
        StateHasChanged();

        await JsRuntime.InvokeVoidAsync("playAudio", "/audio/bgm_test.mp3");
        await JsRuntime.InvokeVoidAsync("setAllAudioMute", b_is_audio_muted);
    }

    /// <summary>
    /// Presents the screen to the user by calling the blitScreen javascript function.
    /// </summary>
    /// <param name="js"></param>
    ///
    public void presentScreen(IJSRuntime js, PixelBuffer frameBuffer)
    {
        IJSUnmarshalledRuntime umjs = (IJSUnmarshalledRuntime)js;
        object result = umjs.InvokeUnmarshalled<byte[], int, int, object>("blitScreen", frameBuffer.pixels, frameBuffer.width, frameBuffer.height);
    }

    [JSInvokable]
    public async ValueTask update(double time_stamp)
    {
        game_client.update(time_stamp);
        game_client.render();
        presentScreen(JsRuntime, GameClient.renderer.frame_buffer);
    }

    [JSInvokable]
    public async void handlePointerDown(PointerEventArgs pe_args)
    {
        await JsRuntime.InvokeVoidAsync("captureMouse", render_canvas, pe_args.PointerId);
    }


    #region chat
    

    public void chatKeyUp(KeyboardEventArgs kbe)
    {
        if (kbe.Key == "Enter")
        {
            sendMsg();
        }
    }

    public async Task sendMsg()
    {
        await game_client.chat_client.sendMsg(chat_input, player_name);
        chat_input = "";
    }

    public void refreshMessages(object sender, ChatMessageEventArgs che_args)
    {
        messages = che_args.Messages;
        StateHasChanged();
    }


    #endregion
}
